@using WebShop.Resources
@model WebShop.Models.Users.UserViewModel

<div class="card col-4" style="width: 18rem;">
    <div class="card=body">
        <h5 class="card-title">@Model.UserName</h5>
        <h6 class ="card-subtitle mb-2 text-black-muted">@Model.Email</h6>
        <p class = "card-text"> OK</p>
        @Html.ActionLink(@SharedResources.DeleteButton, "Delete", "RemoveUser", new {id = Model.Id})
    </div>
</div>