@using WebShop.Models.Users
@using WebShop.Resources
@model IEnumerable<WebShop.Models.Users.UserViewModel>


<h2>@UsersListResources.Title</h2>

@Html.ActionLink(@SharedResources.CreateButton, "CreateUser", "AddUser", routeValues: null, htmlAttributes: new {@class="btn btn-primary", @role = "button"})

<div class="row">
    @foreach (UserViewModel user in Model)
    {
        @await Html.PartialAsync("Users/UserItemInfo", user)
    }
</div>