@model WebShop.Models.Review.ReviewViewModel

<div>
   <div class="card-body">
      <h3 class="card-title">@Model.UserName @Model.Grade Star</h3>
      <h4 class="card-subtitle">@Model.Text </h4>
   </div>
</div>


